img {
    .skateboard {
        height: 500px;
        width: 500px;
        pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .skateboard {
            animation: skateboard-spin infinite 10s ease;
        }
    }
    
    @keyframes skateboard-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }    
}
