@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

// Set your brand colors
// $purple: rgb(227, 255, 66);
// $blue: rgb(29, 99, 212);
// $beige-lighter: rgb(255, 255, 255);

// Update Bulma's global variables
// $family-sans-serif: Lora;
// $primary: $purple;
// $link: $blue;

// $body-font-size: 2em;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// closing soon bar
$progress-border-radius: 0;

// Import only what you need from Bulma
@import "~bulma/bulma.sass";
